body{
  padding: 20px;
  font-family: Helvetica;
}

#headerImage{
  width: 100%;
}

#suggested1 {
  width: 600px;
}

#suggested2 {
  width: 600px;
}

#suggested3{
  width: 600px;
}

#uploadCard{
  width: 400px;
}

#recipeCarousel{
  /* padding-bottom: 200px; */

}

#outerCarouselDiv {
  padding-bottom: 95px;
  padding-top: 10px;
}


#outerCakeDiv{
  padding-bottom:53px;
}


#outerSpaghettiDiv{
  padding-bottom: 53px;
}

#outerAlfredoDiv{
  padding-bottom: 53px;
}

#sourceImage{
  height: 359px;
  width: 600px;
}





  /* position: relative; 
  right: -900px;
  top: -410px;
} */

/* .bigger {
  height: 200%;
  width: 200%;
  padding: 20px;
} */


