body{
  padding: 20px;
  margin: auto 0;

}

/* .card-image{
    height: 500px;
    width: 500px;
} */
nav{

}

.card{
    width: 500px;
}

#card1{
    bottom: -500px;
    
}
#card2{
    position: relative;
    bottom: -600px;
    left: -785px;
    width: 500px;
}
#card3{
    position: relative;
    bottom: -200px
    
}
#card6{
    position: relative;
    bottom: -200px;
    float: left;
    
}
#card7{
    position: relative;
    bottom: -200px;
    float: left;
    
}
#card4{
    position: relative;
    right: -785px;
    top: -608px;
    width: 500px;
    
    
}
#card5{
   position: relative;
    top: -1200px;
    width: 500px;
    height: 500px;
}

.card5{
  left: 145px;
  top:-400px;
  position: relative;
}

.card2{
  position: relative;
  bottom:-320px;
  left: -765px;
  
}
.card4{
  position: relative;
  right: -800px;
  
}
.btn{
    width: 150px;

}

#contact{
  position: relative;
  left: 800px;
  top: -290px;
}
#contactUs{
  position: relative;
  left: 800px;
  top: -290px;
  padding-right: 0px;
  margin: 0px;
  width: 100px;
}

#social-media{
  position: relative;
  right: -900px;
  top: -2850px;
  /* top: -3650px; */

}

#headerImage{
  width: 800px;
  padding-top: 25px;
}
/* Puts media buttons in the white space */
#media-button{
  position: relative;
  right: -1125px;
  top: -310px;
}

/* Puts media buttons on the nav bar */
/* #media-button{
  position: relative;
  right: -1125px;
  top: -390px;
} */


/* SOCIAL MEDIA CSS */
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block;
  position: relative;


}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}


.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}


.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}
